.page-banner {
}

.about-content {
  display: grid;
  grid-template-columns: 643px 542px;
  gap: 57px;

  .regular-content-col {

    padding-left: 10px;
  }

  .translated-content-col {

  }

  img {
    display: block;
  }

  p {
    font-family: 'Noto Sans', serif;
    font-size: 19px;
    line-height: 127%;
    margin-bottom: 22px;

    &.small {
      font-size: 17px;
      line-height: 130%;

    }
  }

  h3 {
    font-size: 23px;
    font-weight: 600;
    line-height: 120%;
    margin: 5px 0 22px;
  }

  h2 {
    margin: 32px 0 34px;
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
  }
}


.page-title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  h1 {
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    color: $primary-color-300;
    margin: 0;
  }

  .page-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 11px;
    line-height: 120%;
    color: $primary-color-300;
  }

}

.content-share ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;

  li {
    list-style: none;

  }

  a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    color: $primary-color-300;
  }

}

.about-news-section {
  padding-top: 112px;
  padding-bottom: 15px;
}

.news-section-title-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 14.3px rgba(0, 0, 0, 0.075);
  padding-bottom: 20px;

  h2 {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    color: $primary-color-300;
    text-decoration: none;
    margin-bottom: 1px;
  }
}

.about-news-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 18px;
  padding-right: 40px;

  .news-box-inner {
    display: grid;
    grid-template-columns: 148px 1fr;
    gap: 15px;

    .news-thumbnail {
      margin-bottom: 0;
    }

    .news-meta {
      margin-bottom: 7px;
    }

    .news-headline {
      margin-bottom: 0;

      h3 {
        font-size: 30px;
        font-weight: 600;
        line-height: 120%;
      }
    }

    .news-meta {
      color: #015F86;
    }
  }
}