.ads-banner-layout {
  display: grid;
  grid-template-columns:1fr 228px;


  .ads-col {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .title-col {
    padding-top: 8px;
  }

  img {
    display: block;
  }

  h2 {
    margin: 32px 0 0;
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
  }
}

.article-content {
  display: grid;
  grid-template-columns: 1fr 506px;
  gap: 90px;
  padding-right: 34px;

  img {
    display: block;
  }

  p {
    font-family: 'Noto Sans', serif;
    font-size: 19px;
    line-height: 127%;
    margin-bottom: 22px;

    &.small {
      font-size: 17px;
      line-height: 130%;
    }
  }

  //h3 {
  //  font-size: 23px;
  //  font-weight: 600;
  //  line-height: 120%;
  //  margin: 5px 0 22px;
  //}

  h2.translated-content-title {
    margin: 17px 0;
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
  }
}

//
//.container-left {
//  width: 608px;
//}
//
//.container-right {
//  width: 506px;
//  margin-top: 48px;
//
//  img {
//    display: block;
//  }
//}

.artical-box {
  margin-bottom: 0;
}

.news-header {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 14px;
}

.relative-news-wrapper {
  padding-top: 13px;

  .relative-news-list-wrapper {
    margin: 6px 0 21px;
    display: grid;
    gap: 16px;

    .news-box-inner {
      display: grid;
      grid-template-columns: 148px 1fr;
      gap: 15px;

      .news-thumbnail {
        margin-bottom: 0;
      }

      .news-meta {
        margin-bottom: 7px;
      }

      .news-headline {
        margin-bottom: 0;

        h3 {
          font-size: 30px;
          font-weight: 600;
          line-height: 120%;
        }
      }

      .news-meta {
        color: #015F86;
      }
    }
  }
}