.news-details-cover {
  max-height: 550px;
  margin: 0;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.news-details-header {

  background-color: #ffffff;
  max-width: 1100px;
  padding-bottom: 30px;
  @media screen and (min-width: 1100px) {
    padding: 30px 74px 0;
  }
  @media screen and (min-width: 767px) and (max-width: 1100px) {
    padding: 30px 30px 0;
  }

  .news-meta {
    ul {
      li {
        font-size: 14px;
        line-height: 22px;
      }
    }

  }

  h1 {
    font-size: 28px;
    margin: 15px 0 0;
    color: $primary-color-100;
    @media screen and (min-width: 1100px) {
      font-size: 48px;
    }
    @media screen and (min-width: 767px) and (max-width: 1100px) {
      font-size: 34px;
    }
  }

  & + section {
    //background-color: #aaa2a2;

  }
}

.news-body-wrapper {
  display: grid;
  gap: 20px 30px;
  position: relative;
  @media screen and (min-width: 1400px) {
    grid-template-columns: auto 588px;
  }
  @media screen and (min-width: 1100px) {
    padding: 30px 0 30px 118px;
    gap: 10px 117px;

  }
  @media screen and (min-width: 767px) and (max-width: 1100px) {
    padding: 30px;
  }
  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    //background: #0a58ca;
  }

  .news-body {
    p {
      letter-spacing: 0.32px;
    }

    .news-listening {
      margin-bottom: 30px;
    }

    figure {
      margin-bottom: 30px;
    }
  }
}

.news-listening {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $primary-color-100;

  button {
    width: 40px;
    height: 40px;
    background-color: $primary-color-100;
    border-radius: 100%;
    border: 1px solid $primary-color-100;
    cursor: pointer;
    padding: 0;
    flex: 0 0 40px;
    max-width: 40px;
  }
}

.card {
  border: 1px solid $dark-color-10;
  border-top: 2px solid $primary-color-100;
  padding: 15px;
  @media screen and (min-width: 767px) {
    padding: 30px;
  }

  .card-header {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.32px;
    padding-bottom: 15px;
    color: $primary-color-100;
    @media screen and (min-width: 767px) {
      padding-bottom: 60px;
    }
  }

  .card-body {

  }
}

article {
  &.container {
    @media screen and (min-width: 767px) {
      transform: translateY(-130px);
    }
    @media screen and (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.news-social-share {
  @media screen and (min-width: 1100px) {
    position: absolute;
    left: -54px;
    top: 30px;
  }

  @media screen and (min-width: 767px) {
    grid-column: 1 /  span 2;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    @media screen and (min-width: 1100px) {
      flex-direction: column;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
}

.relative-news-section-wrapper {
  display: grid;
  gap: 20px 30px;
  position: relative;

  .tab-header {
    background-color: transparent;
  }

  @media screen and (min-width: 767px) {
    margin-top: -130px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: auto 588px;
  }
  @media screen and (min-width: 1100px) {
    padding: 30px 0 30px 118px;
    gap: 10px 117px;
  }
  @media screen and (min-width: 767px) and (max-width: 1100px) {
    padding: 30px;
  }
  @media screen and (max-width: 991px) and (min-width: 767px) {
    .thumbnail-news-list-wrapper {
      grid-template-columns: unset;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 20px 0 35px;
    gap: 30px;
  }
}
